---
import { AnimatedTooltip } from "../../../components/tsx/animated-tooltip";
import type { Icon, Project } from "../../../shared/payload-types";

interface Props {
  technology: Project["technologies"];
}

const { technology } = Astro.props as Props;
---

<div class="mb-4 flex items-center gap-4">
  {
    technology.map((icon, idx) => {
      const technology = icon.technology as Icon;
      return (
        <AnimatedTooltip
          items={{
            href: technology.source,
            src: technology.src,
            name: technology.name,
            id: idx,
            darkSrc: technology.darkModeSrc,
          }}
          imgClassName="h-6 w-6"
          client:visible
        />
      );
    })
  }
</div>
