---
import BentoGrid from "../../components/BentoGrid.astro";
import BentoGridItem from "../../components/BentoGridItem.astro";
import { getImageBySize } from "../../shared/getImageBySize";
import type { Media, Project } from "../../shared/payload-types";

interface ProjectBentoProps {
  projects: Project[];
}

const { projects } = Astro.props as ProjectBentoProps;
---

<BentoGrid className="mx-auto max-w-5xl pb-10">
  <span
    class="mb-5 scroll-my-32 self-start text-3xl font-bold tracking-wide font-mono text-text-primary md:col-span-3 md:scroll-my-16 md:text-4xl"
    id="projects"
    transition:name="project-header"
  >
    <span class="text-accent">&gt;</span> Projects
  </span>
  {
    projects.map((item, i) => {
      const thumbnail = item.thumbnail as Media;
      return (
        <BentoGridItem
          title={item.title}
          description={item.subTitle}
          projectImg={getImageBySize(thumbnail, "small")}
          className={i === 3 || i === 6 ? "md:col-span-2" : ""}
          href={`/projects/${item.slug}`}
        />
      );
    })
  }
</BentoGrid>
