---
import { Image } from "astro:assets";
import avatar_image from "../assets/images/avatar_image.jpg";
---

<div class="border border-border p-1">
  <Image
    src={avatar_image}
    alt="Christian Anunciado"
    height={150}
    width={150}
    class={"h-[150px] w-[150px] object-cover object-center"}
    quality={100}
  />
</div>
