---
import { cn } from "../shared/cn";

const { className, id } = Astro.props;
---

<a
  class={cn(
    "flex max-w-fit cursor-pointer items-center gap-2 text-sm text-text-secondary transition-colors hover:text-accent font-mono",
    className,
  )}
  href={`/projects#${id}`}
  data-astro-prefetch
>
  &lt; back
</a>
