---
import HeaderText from "./HeaderText.astro";

interface Props {
  description: string;
  title: string;
}

const { description, title } = Astro.props;
---

<HeaderText
  as="h2"
  className="mb-3 text-base text-text-primary md:text-base"
  transitionName={`${title.split(" ")[0]}-titleText`}
>
  {title}
</HeaderText>
<div
  class="font-mono text-xs font-normal text-text-secondary"
  transition:name={`${title.split(" ")[0]}-descText`}
>
  {description}
</div>
