---
interface Props {
  className?: string;
  transitionName?: string;
}

const { className, transitionName } = Astro.props;
import { cn } from "../shared/cn";
---

<span
  class={cn(
    "text-lg font-medium tracking-widest text-text-tertiary font-mono",
    className,
  )}
  transition:name={transitionName || "titleText"}
>
  <slot />
</span>
