---
import BackArrow from "../../components/BackArrow.astro";
import MainContainer from "../../components/MainContainer.astro";
import { DirectionAwareHover } from "../../components/tsx/direction-aware-hover";
import ProjectHeader from "../../features/projects/project/ProjectHeader.astro";
import ProjectIcons from "../../features/projects/project/ProjectIcons.astro";
import ProjectLinks from "../../features/projects/project/ProjectLinks.astro";
import Layout from "../../layouts/Layout.astro";
import api from "../../shared/api";
import { getImageBySize } from "../../shared/getImageBySize";
import type { Media, Project } from "../../shared/payload-types";
import type { PaginatedResponse } from "../../shared/types";

export async function getStaticPaths() {
  const projectRes = await api.get(`api/projects/`);
  const projectData = (await projectRes.json()) as PaginatedResponse<Project>;
  const paths = projectData.docs.map((project) => ({
    params: { slug: project.slug },
  }));
  return paths;
}

const { slug } = Astro.params;
const res = await api.get(`api/projects/?where[slug][equals]=${slug}`);
const data = (await res.json()) as PaginatedResponse<Project>;
const project = data.docs[0];
const thumbnail = project!.thumbnail as Media;
---

<Layout
  title={`${project!.title} | Christian Anunciado`}
  description={project!.description || `${project!.title} — a project by Christian Anunciado.`}
>
  <MainContainer className="md:items-start">
    <div class="flex flex-col gap-10">
      <BackArrow id={"projects"} />
      <DirectionAwareHover
        imageUrl={getImageBySize(thumbnail, "medium")}
        className="h-auto md:h-96"
        imageClassName="object-center object-fit w-full h-full scale-100"
        transitionName={`${project!.title.split(" ")[0]}-img`}
        client:load
      >
        <p class="text-lg font-bold">{project!.title}</p>
        <p class="!text-xs font-medium">{project!.subTitle}</p>
      </DirectionAwareHover>
      <div class="flex max-w-3xl flex-1 flex-col gap-2">
        <ProjectHeader title={project!.title} subTitle={project!.subTitle} />
        <ProjectIcons technology={project!.technologies} />
        <p
          class="mb-4 w-full text-xs leading-relaxed tracking-wide text-text-secondary md:w-[90%] md:text-sm"
        >
          {project!.description}
        </p>
        <ProjectLinks
          liveLink={project?.liveUrl}
          sourceLink={project?.githubUrl}
        />
      </div>
    </div>
  </MainContainer>
</Layout>
